<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/index}">
<main layout:fragment="main" class="container my-5">
	<form action="/project/add" method="POST">
		<h2>"[[ ${ user.username } ]]" 님! 프로젝트를 만드시나요?</h2>
		<div class="container my-5">
			<input type="hidden" name="maintainerId" th:value="${user.id}" /> <label
				for="name" class="form-label">프로젝트 이름</label> <input type="text"
				id="name" class="form-control" name="name" placeholder="프로젝트 명" />
			<label for="description" class="form-label">프로젝트 설명</label>
			<textarea id="description" class="form-control" name="description"
				placeholder="프로젝트 설명"></textarea>
			<div class="mb-3">
				<label for="startAt" class="form-label">프로젝트 시작일</label> <input
					type="date" id="startAt" name="startAt"
					class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="endAt" class="form-label">프로젝트 종료일</label> <input
					type="date" id="endAt" name="endAt"
					class="form-control" required>
			</div>

			<button class="btn btn-primary ms-auto">제출</button>
		</div>
	</form>
</main>
</html>